In [1]:
import requests
import json
import datetime
import time

import pandas as pd

In [2]:
time.time()

1530426181.0965376

In [3]:
epoch_time = time.time() * 1000

baemin_time = 1530415567.928
baemin_time2 = 1530415763.222


time.strftime('%Y-%m-%d %H:%M:%S', time.localtime(baemin_time2))

'2018-07-01 12:29:23'

In [4]:
str(int(time.time() * 1000))

'1530426181148'

In [5]:
https://ceo.baemin.com/v1/orders?shopNo=all&pageNo=1&from=2018-06-25&to=2018-07-01&ordProgCd=2&purchPstnCd=&ts=1530410575174

SyntaxError: invalid syntax (<ipython-input-5-348584e09e7b>, line 1)

# "처리중" 에서 주문 목록 따오는 기능

### parameters

In [12]:
# shopNo : 전부로 하는게 편할듯? 설정할 수 있지만 굳이
# pageNo => loop로 돌리는게 맞을듯 (1~)
# from, to => today
datetime_now = datetime.datetime.now()
today_date = str(datetime_now.year) + "-" + str('%02d'%datetime_now.month) + "-" + str('%02d'%datetime_now.day)
# ordProgCd => 1 : 처리중 2 : 배달완료
# purchPstnCd = ""
ts = str(int(time.time() * 1000))

i = 0
ord_done = 1 # not done : 1, done : 2

odrs_mgt_params = {"shopNo" : "all", # We can set shopNo in details, but it would be better to set it "all"
                   "pageNo" : str(i+1) , # Loop until there is no more order.
                   "from" : today_date , 
                   "to" : today_date ,
                   "ordProgCd" : 1, # 1: In progress, 2: Done
                   "purchPstnCd" : "", # "" means all kinds of purchase types.
                   "ts" : ts} #timestamp, I don't know why it is needed. I need to check the reason why it is needed.

In [4]:
# shopNo : 전부로 하는게 편할듯? 설정할 수 있지만 굳이
# pageNo => loop로 돌리는게 맞을듯 (1~)
# from, to => today
datetime_now = datetime.datetime.now()
today_date = str(datetime_now.year) + "-" + str('%02d'%datetime_now.month) + "-" + str('%02d'%datetime_now.day)
# ordProgCd => 1 : 처리중 2 : 배달완료
# purchPstnCd = ""
ts = str(int(time.time() * 1000))

i = 0
ord_done = 1 # not done : 1, done : 2

odrs_mgt_params = {"shopNo" : "all", # We can set shopNo in details, but it would be better to set it "all"
                   "pageNo" : str(i+1) , # Loop until there is no more order.
                   "from" : today_date , 
                   "to" : today_date ,
                   "ordProgCd" : 1, # 1: In progress, 2: Done
                   "purchPstnCd" : "", # "" means all kinds of purchase types.
                   "ts" : ts} #timestamp, I don't know why it is needed. I need to check the reason why it is needed.

login_url = "https://sso-ceo.baemin.com/web/login?returnUrl=https%3A%2F%2Fceo.baemin.com%2F"
login_params = {'id' : "egatrading", "password" : "qnfqor1djr", "redirectUrl" : "https://ceo.baemin.com/"}

odrs_mgt_url = "https://ceo.baemin.com/v1/orders"

original_df = pd.DataFrame()

with requests.Session() as s:
    r_login = s.post(login_url, data = login_params) # login
    
    # shopNo : 전부로 하는게 편할듯? 설정할 수 있지만 굳이
    # pageNo => loop로 돌리는게 맞을듯 (1~)
    # from, to => today
    datetime_now = datetime.datetime.now()
    today_date = str(datetime_now.year) + "-" + str('%02d'%datetime_now.month) + "-" + str('%02d'%datetime_now.day)
    # ordProgCd => 1 : 처리중 2 : 배달완료
    # purchPstnCd = ""
    ts = str(int(time.time() * 1000))
    i = 0
    ord_done = 1 # not done : 1, done : 2
    
    
    while True:
        odrs_mgt_params = {"shopNo" : "all", # We can set shopNo in details, but it would be better to set it "all"
                           "pageNo" : str(i+1) , # Loop until there is no more order.
                           "from" : today_date , 
                           "to" : today_date ,
                           "ordProgCd" : 2, # 1: In progress, 2: Done
                           "purchPstnCd" : "", # "" means all kinds of purchase types.
                           "ts" : ts} #timestamp, I don't know why it is needed. I need to check the reason why it is needed.
        
        r_odrs_mgt = s.get(odrs_mgt_url, params = odrs_mgt_params) #get orders management page 
        tmp_orders_text = r_odrs_mgt.text
        tmp_orders_dict = json.loads(tmp_orders_text)
        
        if len(tmp_orders_dict['data']['orders']) != 0:            
            temp_df = pd.DataFrame(tmp_orders_dict['data']['orders'])
            original_df = pd.concat([original_df,temp_df])
            i = i + 1
            time.sleep(0.3)
        else:
            break

original_df.set_index('orderNo', inplace=True)
original_df

,costPrice,orderDate,orderDt,orderId,orderPrice,orderProgressCode,orderTm,purchMethodCodeName,purchType,shopName,shopNo,shopOwnerNo
orderNo,,,,,,,,,,,,
BSGAR00041,0,2018-07-01 20:53:21,2018-07-01,NMGP1EHQwA,15500,2,20:53:21.7100000,바로결제,1,조장희의 마포 진불백 역삼점,777417,201806040151
BSGAS00193,0,2018-07-01 19:06:57,2018-07-01,SB_256B995455,44800,2,19:06:57.6800000,만나서결제,2,조장희의 마포 진불백 양재점,777418,201806040151
BSGAS00192,0,2018-07-01 18:49:20,2018-07-01,SB_22FF69A8C2,20900,2,18:49:20.7570000,바로결제,1,조장희의 마포 진불백 양재점,777418,201806040151
BSGAS00191,0,2018-07-01 18:31:55,2018-07-01,june2812,14900,2,18:31:55.6400000,바로결제,1,조장희의 마포 진불백 양재점,777418,201806040151
BSGAS00190,0,2018-07-01 18:12:14,2018-07-01,Okj9Diqihi,19900,2,18:12:14.7100000,만나서결제,2,조장희의 마포 진불백 양재점,777418,201806040151
BSGAS00189,0,2018-07-01 17:03:22,2018-07-01,AOSMvjp74T,14900,2,17:03:22.8070000,바로결제,1,조장희의 마포 진불백 양재점,777418,201806040151
BSGAS00188,0,2018-07-01 15:16:44,2018-07-01,BFRLiSh12p,17900,2,15:16:44.8000000,바로결제,1,조장희의 마포 진불백 양재점,777418,201806040151
BSGAS00187,0,2018-07-01 14:09:55,2018-07-01,FB_20D4D9E54A,14900,2,14:09:55.7930000,바로결제,1,조장희의 마포 진불백 양재점,777418,201806040151
BSGAS00186,0,2018-07-01 12:20:36,2018-07-01,SB_255EB97217,14900,2,12:20:36.8630000,바로결제,1,조장희의 마포 진불백 양재점,777418,201806040151

In [61]:
original_df.index[0]

'BSGAS00188'

In [72]:
odrs_mgt_details_url = "https://ceo.baemin.com/v1/orders/" + original_df.index[0]

odrs_mgt_details_params = {"orderDt" : today_date,
                          "ts" : ts}

with requests.Session() as s:
    r_login = s.post(login_url, data = login_params) # login
    r_odrs_mgt_details = s.get(odrs_mgt_details_url, params = odrs_mgt_details_params)
    
json.loads(r_odrs_mgt_details.text)['data']

{'orderDetailList': [{'addr': '서울 서초구 양재동 254-1 서현하이츠빌라 101호',
   'costPrice': 0,
   'modDate': '2018-07-01 15:17:06',
   'ordDate': '2018-07-01 15:16:44',
   'ordId': 'BFRLiSh12p',
   'ordMsg': '',
   'ordNo': 'BSGAS00188',
   'ordPrice': 17900,
   'ordProgCd': '1',
   'purchMethodCd': '1',
   'purchasePositionCodeName': '바로결제',
   'receiptDate': '2018-07-01 15:17:06',
   'remark': '',
   'telNo': '09078315299'}],
 'orderFoodList': [{'foodNm': '처음처럼',
   'foodOrdQty': 1,
   'foodPrice': 3000,
   'foodPriceGrpNm': '가격',
   'foodPriceNm': '',
   'isDefPrice': True,
   'ordFoodPrice': 3000},
  {'foodNm': '진 고추장불백 세트',
   'foodOrdQty': 1,
   'foodPrice': 14900,
   'foodPriceGrpNm': '가격',
   'foodPriceNm': '250g',
   'isDefPrice': True,
   'ordFoodPrice': 14900}],
 'purchDetailList': [{'purchAmt': 17900,
   'purchTyCd': '1',
   'purchTyNm': '신용카드'}]}

In [59]:
original_df

,costPrice,orderDate,orderDt,orderId,orderNo,orderPrice,orderProgressCode,orderTm,purchMethodCodeName,purchType,shopName,shopNo,shopOwnerNo
0,0,2018-07-01 15:16:44,2018-07-01,BFRLiSh12p,BSGAS00188,17900,1,15:16:44.8000000,바로결제,1,조장희의 마포 진불백 양재점,777418,201806040151
1,0,2018-07-01 14:09:55,2018-07-01,FB_20D4D9E54A,BSGAS00187,14900,1,14:09:55.7930000,바로결제,1,조장희의 마포 진불백 양재점,777418,201806040151

In [46]:
pd.concat([df,pd.DataFrame([range(0,13)],columns = df.columns)])

,costPrice,orderDate,orderDt,orderId,orderNo,orderPrice,orderProgressCode,orderTm,purchMethodCodeName,purchType,shopName,shopNo,shopOwnerNo
0,0,2018-07-01 15:16:44,2018-07-01,BFRLiSh12p,BSGAS00188,17900,1,15:16:44.8000000,바로결제,1,조장희의 마포 진불백 양재점,777418,201806040151
1,0,2018-07-01 14:09:55,2018-07-01,FB_20D4D9E54A,BSGAS00187,14900,1,14:09:55.7930000,바로결제,1,조장희의 마포 진불백 양재점,777418,201806040151
0,0,1,2,3,4,5,6,7,8,9,10,11,12

In [4]:
login_params = {'id' : "egatrading", "password" : "qnfqor1djr", "redirectUrl" : "https://ceo.baemin.com/"}

parmas = {"shopNo" : "all", "pageNo" : "1" , "from" : "2018-06-25" , "to" : "2018-07-01" , "ordProgCd" : "2", "purchPstnCd" : "", "ts" : "1530410575174"}

with requests.Session() as s:
    r = s.post("https://sso-ceo.baemin.com/web/login?returnUrl=https%3A%2F%2Fceo.baemin.com%2F", data = login_params)
    p = s.get('https://ceo.baemin.com/v1/orders', params = parmas)
    #p = s.get('https://ceo.baemin.com/v1/orders?shopNo=all&pageNo=1&from=2018-06-25&to=2018-07-01&ordProgCd=2&purchPstnCd=&ts=1530410575174')
    k = s.get('https://ceo.baemin.com/v1/orders/BSGAS00185?orderDt=2018-06-30&ts=1530410867825')
    #p = s.get('https://ceo.baemin.com/v1/orders', data = params )
    text = p.text
    a = json.loads(text)
pd.DataFrame(a['data']['orders'])

,costPrice,orderDate,orderDt,orderId,orderNo,orderPrice,orderProgressCode,orderTm,purchMethodCodeName,purchType,shopName,shopNo,shopOwnerNo
0,0,2018-06-30 20:46:45,2018-06-30,aSTH6KFjxF,BSGAS00185,17900,2,20:46:45.3300000,바로결제,1,조장희의 마포 진불백 양재점,777418,201806040151
1,0,2018-06-30 17:02:41,2018-06-30,tabris77,BSGAS00184,38400,2,17:02:41.0030000,바로결제,1,조장희의 마포 진불백 양재점,777418,201806040151
2,0,2018-06-30 14:20:57,2018-06-30,xXyXpGOJJd,BSGAS00183,14900,2,14:20:57.2670000,바로결제,1,조장희의 마포 진불백 양재점,777418,201806040151
3,0,2018-06-30 11:56:04,2018-06-30,YIGsqhybzQ,BSGAS00182,14900,2,11:56:04.1800000,바로결제,1,조장희의 마포 진불백 양재점,777418,201806040151
4,0,2018-06-30 11:11:33,2018-06-30,SB_256BD6CACB,BSGAS00181,20900,2,11:11:33.9170000,만나서결제,2,조장희의 마포 진불백 양재점,777418,201806040151
5,0,2018-06-29 20:15:56,2018-06-29,SB_22FFA6B199,BSGAS00180,26900,2,20:15:56.6800000,바로결제,1,조장희의 마포 진불백 양재점,777418,201806040151
6,0,2018-06-29 17:45:32,2018-06-29,SB_232F837D00,BSGAS00175,24000,2,17:45:32.2130000,바로결제,1,조장희의 마포 진불백 양재점,777418,201806040151
7,0,2018-06-29 13:21:43,2018-06-29,BEdWMXySxZ,BSGAS00174,19900,2,13:21:43.0000000,바로결제,1,조장희의 마포 진불백 양재점,777418,201806040151
8,0,2018-06-28 20:07:22,2018-06-28,wNLRLlwbjV,BSGAS00173,16500,2,20:07:22.7800000,바로결제,1,조장희의 마포 진불백 양재점,777418,201806040151
9,0,2018-06-28 19:47:01,2018-06-28,fIIcCITTbK,BSGAS00172,20900,2,19:47:01.8770000,바로결제,1,조장희의 마포 진불백 양재점,777418,201806040151

In [29]:
## Login ##
params = {'id' : "egatrading", "password" : "qnfqor1djr", "redirectUrl" : "https://ceo.baemin.com/"}
r = requests.post("https://sso-ceo.baemin.com/web/login?returnUrl=https%3A%2F%2Fceo.baemin.com%2F", data = params)

In [28]:
requests.get("https://ceo.baemin.com/v1/orders?shopNo=all&pageNo=1&from=2018-06-29&to=2018-06-29&ordProgCd=2&purchPstnCd=&ts=1530371014786").text

'<!DOCTYPE html>\n\n<html lang="ko">\n<head>\n    <meta charset="UTF-8" />\n    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />\n    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />\n    <meta name="autocomplete" content="off" />\n    <meta name="format-detection" content="telephone=no" />\n    <meta name="apple-mobile-web-app-capable" content="no" />\n    <link rel="stylesheet" type="text/css" href="/static/css/ceo-signin.css?v=1530376115681" />\n    <link rel="icon" type="image/x-icon" href="/static/favicon.ico" />\n    <script src="/static/js/jquery.min.js"></script>\n    <title>배달의민족 사장님 통합 로그인</title>\n    </head>\n<body>\n<div class="wrap">\n    <div class="content">\n        <div class="cont-inner login-wrap">\n            <div class="tit-area">\n                <h1 class="tit"><span class="logo">배달의민족</span> 사장님 통합 로그인</h1>\n                <p class="msg">사장님, 로그인해주세요</p>\n            </div>\n\n            <form action="/web/login" id="loginForm" method="post">\n                <fieldset>\n                    <legend>로그인</legend>\n                    <div class="msg-error hidden">아이디와 비밀번호를 확인 후 다시 로그인해주세요.</div>\n                    <div class="input-group">\n                        <label for="id" class="label">아이디</label>\n                        <input type="text" class="input" id="id" placeholder="아이디" value="" name="id" />\n                        \n                    </div>\n                    <div class="input-group">\n                        <label for="pw" class="label">비밀번호</label>\n                        <input type="password" class="input" id="pw" placeholder="비밀번호" name="password" value="" />\n                        \n                    </div>\n                    <input type="hidden" id="redirectUrl" name="redirectUrl" value="https://ceo.baemin.com/v1/orders?shopNo=all&amp;pageNo=1&amp;from=2018-06-29&amp;to=2018-06-29&amp;ordProgCd=2&amp;purchPstnCd=&amp;ts=1530371014786" />\n                    \n                    <div class="set-login">\n                        <div class="save-id">\n                            <input type="checkbox" class="input-chk" id="checkSaveId" />\n                            <label for="checkSaveId">아이디 저장</label>\n                        </div>\n                        <div class="login-link">\n                            <a class="btn-find" href="http://ceo.baemin.com/#/signin">아이디&#47;비밀번호 찾기</a>\n                            <a class="btn-join" href="http://ceo.baemin.com/#/join/intro">회원가입</a>\n                        </div>\n                    </div>\n\n                    <input type="hidden" value="" id="anchor-tag" name="anchorTag" />\n\n                    <button type="button" class="btn-login" id="btnLogin">로그인</button>\n                </fieldset>\n            </form>\n        </div>\n    </div>\n\n    <div class="footer">\n        <p class="copyright">&#169; Woowa Brothers Corp.</p>\n    </div>\n</div>\n<input type="hidden" id="error-msg" class="hidden" value="" />\n\n<script type="text/javascript">\n    // <![CDATA[\n    function stringLength(str) {\n        return str.replace(/^\\s+/g, \'\').length; // boolean (`true` if field is empty)\n    }\n\n    function getAnchorTag() {\n        var url = window.location.href, idx = url.indexOf("#")\n        return idx != -1 ? url.substring(idx+1) : "";\n    }\n\n\n    $(document).ready(function () {\n        $(\'#btnLogin\').click(function (e) {\n            e.preventDefault();\n            submit();\n        });\n        var savedId = getCookie("userId");\n        if (savedId !== "") {\n            $("#id").val(savedId);\n            $(\'#checkSaveId\').attr("checked", true);\n        }\n        $(\'#checkSaveId\').change(function () {\n            if ($("#checkSaveId").is(":checked")) {\n                var userId = $("#id").val();\n                setCookie("userId", userId, 7);\n            } else {\n                deleteCookie("userId");\n            }\n        });\n        $("#id").keyup(function (e) {\n            if ($("#checkSaveId").is(":checked")) {\n                var userId = $("#id").val();\n                setCookie("userId", userId, 7);\n            }\n            if( e.keyCode === 13 ){\n                submit();\n            }\n        });\n        $("#pw").keyup(function(e){\n            if( e.keyCode === 13 ){\n                submit();\n            }\n        });\n        $("#id").focus();\n    });\n    function submit(){\n\n        var lengthOfId = stringLength($(\'#id\').val());\n        if (lengthOfId < 1) {\n            $(".msg-error").html(\'아이디를 입력해 주세요.\');\n            $(".msg-error").removeClass(\'hidden\');\n            return;\n        }\n\n        var lengthOfPassword = stringLength($(\'#pw\').val());\n        if (lengthOfPassword < 1) {\n            $(".msg-error").html(\'비밀번호를 입력해 주세요.\');\n            $(".msg-error").removeClass(\'hidden\');\n            return;\n        }\n        $("#anchor-tag").val(getAnchorTag());\n        $(\'#loginForm\').submit();\n    }\n    function setCookie(cookieName, value, exdays) {\n        var exdate = new Date();\n        exdate.setDate(exdate.getDate() + exdays);\n        var cookieValue = escape(value) + ((exdays == null) ? "" : "; expires=" + exdate.toGMTString());\n        document.cookie = cookieName + "=" + cookieValue;\n    }\n    function deleteCookie(cookieName) {\n        var expireDate = new Date();\n        expireDate.setDate(expireDate.getDate() - 1);\n        document.cookie = cookieName + "= " + "; expires=" + expireDate.toGMTString();\n    }\n    function getCookie(cookieName) {\n        cookieName = cookieName + \'=\';\n        var cookieData = document.cookie;\n        var start = cookieData.indexOf(cookieName);\n        var cookieValue = \'\';\n        if (start != -1) {\n            start += cookieName.length;\n            var end = cookieData.indexOf(\';\', start);\n            if (end == -1) end = cookieData.length;\n            cookieValue = cookieData.substring(start, end);\n        }\n        return unescape(cookieValue);\n    }\n\n    if($("#error-msg").val().length > 0) {\n        $(".msg-error").text(\'아이디와 비밀번호를 확인 후 다시 로그인해주세요.\');\n        $(".msg-error").removeClass(\'hidden\');\n    }\n\n    // ]]>\n</script>\n</body>\n</html>\n'

# DB 연결

In [54]:
from sqlalchemy import create_engine

In [55]:
end_point = 'mapobulbaek.cbj5ix6v2yfg.ap-northeast-2.rds.amazonaws.com'
user = 'hejafood'
pw = 'qnfqor1djr'
port = '5432'
db_name = "mapobulbaek"

url = 'postgres://' + user + ":" + pw + "@" + end_point + ":" + port + "/" + db_name

engine = create_engine(url)

In [56]:
from sqlalchemy import Table, Column, String, Integer, Float, Boolean
from sqlalchemy import MetaData

In [57]:
metadata = MetaData(engine) # engine의 metadata

In [61]:
# Define a new table with a name, count, amount, and valid column: data
orders = Table('orders', metadata,
               Column('orderNo', String(255)),
               Column('costPrice', Integer()),
               Column('orderDate', String(255)),
               Column('orderDt', String(255)),
               Column('orderId', String(255)),
               Column('orderPrice', Integer()),
               Column('orderProgressCode', Integer()),
               Column('orderTm', String()),
               Column('purchMethodCodeName', String()),
               Column('purchType', Integer()),
               Column('shopName', String()),
               Column('shopNo', Integer()),
               Column('shopOwnerNo', Integer()),
               extend_existing = True
)

# Use the metadata to create the table
metadata.create_all(engine)

# Print table details
print(repr(orders))

Table('orders', MetaData(bind=Engine(postgres://hejafood:***@mapobulbaek.cbj5ix6v2yfg.ap-northeast-2.rds.amazonaws.com:5432/mapobulbaek)), Column('orderNo', String(length=255), table=<orders>), Column('costPrice', Integer(), table=<orders>), Column('orderDate', String(length=255), table=<orders>), Column('orderDt', String(length=255), table=<orders>), Column('orderId', String(length=255), table=<orders>), Column('orderPrice', Integer(), table=<orders>), Column('orderProgressCode', Integer(), table=<orders>), Column('orderTm', String(), table=<orders>), Column('purchMethodCodeName', String(), table=<orders>), Column('purchType', Integer(), table=<orders>), Column('shopName', String(), table=<orders>), Column('shopNo', Integer(), table=<orders>), Column('shopOwnerNo', Integer(), table=<orders>), schema=None)

In [62]:
metadata.tables['orders']

Table('orders', MetaData(bind=Engine(postgres://hejafood:***@mapobulbaek.cbj5ix6v2yfg.ap-northeast-2.rds.amazonaws.com:5432/mapobulbaek)), Column('orderNo', String(length=255), table=<orders>), Column('costPrice', Integer(), table=<orders>), Column('orderDate', String(length=255), table=<orders>), Column('orderDt', String(length=255), table=<orders>), Column('orderId', String(length=255), table=<orders>), Column('orderPrice', Integer(), table=<orders>), Column('orderProgressCode', Integer(), table=<orders>), Column('orderTm', String(), table=<orders>), Column('purchMethodCodeName', String(), table=<orders>), Column('purchType', Integer(), table=<orders>), Column('shopName', String(), table=<orders>), Column('shopNo', Integer(), table=<orders>), Column('shopOwnerNo', Integer(), table=<orders>), schema=None)

In [108]:
for i in metadata.tables['orders'].columns:
    print(i)

orders.orderNo
orders.costPrice
orders.orderDate
orders.orderDt
orders.orderId
orders.orderPrice
orders.orderProgressCode
orders.orderTm
orders.purchMethodCodeName
orders.purchType
orders.shopName
orders.shopNo
orders.shopOwnerNo

In [109]:
import pandas as pd

In [75]:
df = pd.read_csv('data/2018-07-05/orders.csv', encoding='cp949', index_col = 0)

In [76]:
df1 = df.iloc[1:]
df2 = df.iloc[0]

In [77]:
df1

,costPrice,orderDate,orderDt,orderId,orderPrice,orderProgressCode,orderTm,purchMethodCodeName,purchType,shopName,shopNo,shopOwnerNo
orderNo,,,,,,,,,,,,
BSGAS00219,0,2018-07-05 18:49:18,2018-07-05,SB_256C22AD4F,14900,1,18:49:18.8800000,바로결제,1,조장희의 마포 진불백 양재점,777418,201806040151
BSGAR00046,0,2018-07-05 15:02:05,2018-07-05,gMeV3araKG,14900,1,15:02:05.8930000,바로결제,1,조장희의 마포 진불백 역삼점,777417,201806040151

In [110]:
df1.to_sql('orders', con=engine, if_exists='replace')

In [184]:
df1

,costPrice,orderDate,orderDt,orderId,orderPrice,orderProgressCode,orderTm,purchMethodCodeName,purchType,shopName,shopNo,shopOwnerNo
orderNo,,,,,,,,,,,,
BSGAS00219,0,2018-07-05 18:49:18,2018-07-05,SB_256C22AD4F,14900,1,18:49:18.8800000,바로결제,1,조장희의 마포 진불백 양재점,777418,201806040151
BSGAR00046,0,2018-07-05 15:02:05,2018-07-05,gMeV3araKG,14900,1,15:02:05.8930000,바로결제,1,조장희의 마포 진불백 역삼점,777417,201806040151

In [174]:
def float2int(f):
    try:
        return int(f)
    except:
        return f

In [176]:
df2 = df2.applymap(float2int)

In [185]:
df2.index.name = 'orderNo'

In [186]:
df2.to_sql('orders',con=engine, if_exists='append')

In [187]:
pd.read_sql('orders', con=engine, index_col = ['orderNo'])

,costPrice,orderDate,orderDt,orderId,orderPrice,orderProgressCode,orderTm,purchMethodCodeName,purchType,shopName,shopNo,shopOwnerNo
orderNo,,,,,,,,,,,,
BSGAS00219,0,2018-07-05 18:49:18,2018-07-05,SB_256C22AD4F,14900,1,18:49:18.8800000,바로결제,1,조장희의 마포 진불백 양재점,777418,201806040151
BSGAR00046,0,2018-07-05 15:02:05,2018-07-05,gMeV3araKG,14900,1,15:02:05.8930000,바로결제,1,조장희의 마포 진불백 역삼점,777417,201806040151
NaN,0,2018-07-05 21:13:36,2018-07-05,SB_257D10358D,14900,1,21:13:36.2430000,바로결제,1,조장희의 마포 진불백 양재점,777418,201806040151
BSGAS00221,0,2018-07-05 21:13:36,2018-07-05,SB_257D10358D,14900,1,21:13:36.2430000,바로결제,1,조장희의 마포 진불백 양재점,777418,201806040151

In [168]:
df2

,costPrice,orderDate,orderDt,orderId,orderPrice,orderProgressCode,orderTm,purchMethodCodeName,purchType,shopName,shopNo,shopOwnerNo
BSGAS00221,0,2018-07-05 21:13:36,2018-07-05,SB_257D10358D,14900,1,21:13:36.2430000,바로결제,1,조장희의 마포 진불백 양재점,777418,201806040151

In [142]:
data_list = df2.to_dict(orient='records')

In [159]:
for key in data_list[0].keys():
    try:
        data_list[0][key] = int(data_list[0][key])
    except:
        pass

In [167]:
data_list

[{'costPrice': 0,
  'orderDate': '2018-07-05 21:13:36',
  'orderDt': '2018-07-05',
  'orderId': 'SB_257D10358D',
  'orderPrice': 14900,
  'orderProgressCode': 1,
  'orderTm': '21:13:36.2430000',
  'purchMethodCodeName': '바로결제',
  'purchType': 1,
  'shopName': '조장희의 마포 진불백 양재점',
  'shopNo': 777418,
  'shopOwnerNo': 201806040151}]

In [161]:
import numpy as np

In [162]:
from sqlalchemy import insert

In [163]:
stmt = insert(orders)

In [164]:
connection = engine.connect()

In [165]:
connection.execute(stmt, data_list[0])

In [118]:
df2.to_dict()

{'costPrice': {'BSGAS00221': 0},
 'orderDate': {'BSGAS00221': '2018-07-05 21:13:36'},
 'orderDt': {'BSGAS00221': '2018-07-05'},
 'orderId': {'BSGAS00221': 'SB_257D10358D'},
 'orderPrice': {'BSGAS00221': 14900},
 'orderProgressCode': {'BSGAS00221': 1},
 'orderTm': {'BSGAS00221': '21:13:36.2430000'},
 'purchMethodCodeName': {'BSGAS00221': '바로결제'},
 'purchType': {'BSGAS00221': 1},
 'shopName': {'BSGAS00221': '조장희의 마포 진불백 양재점'},
 'shopNo': {'BSGAS00221': 777418},
 'shopOwnerNo': {'BSGAS00221': 201806040151}}

In [189]:
import json

In [190]:
json.loads('')

JSONDecodeError: Expecting value: line 1 column 1 (char 0)